{% extends 'base.html'%}
{% block content %}
<style >
.button {
	border: none;
	padding: 15px 32px;
	float: center;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 5px;
	background-color: white;
	color: black;
	margin-left: 30%;
}
</style>

<h1 align="center"><b><u>LOGIN</u></b></h1>
<title>Login</title>
<body bgcolor=#99FFFF>
<form method="POST">
<h2><b>Voter ID</b></h2> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="text" name="first_name"> <br><br>
<h2><b>Password</b></h2> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="password" name="password"> <br><br>
{% csrf_token %}

<input type="submit" class="button" value="Submit">
</form>
<br><br>
<a href="http://127.0.0.1:8000/voters/signup"><button class="button">SIGN UP</button></a>

{% endblock %}
