{% extends 'base.html' %}
{% block content %}
<div>
  <h3>Purpose of E-Voting</h3>
  <ul class="a">
  <li>To eliminate paper in the voting process. This involves sending of notices and ballot papers and receiving the said ballot votes.</li>
  <li>Facilitate electronic voting on resolutions of companies in a fair and transparent manner for all classes of security/stakeholders.</li>
  <li>Enable security holders to vote at a time and place of their convenience.</li>
</ul>
  <h3>There are 4 popular parties in India .Let us learn few things about them.</h3>
</div>



<div class="footer1">
    <div class="row1">
        <div class="column1">
			<ul class="ul1">
				<li>

					<div class="card">

						  <h1>Bahujan Samaj Party</h1>
						  <p class="title">BSP</p>

						   <p>The Bahujan Samaj Party (BSP) is the third largest national political party in India.It was formed mainly to represent Bahujans (literally meaning "People in majority"), referring to people from the Scheduled Castes, Scheduled Tribes and Other Backward Castes (OBC), as well as religious minorities that together consist of 85 percent of India's population but still divided into 6000 different castes.</p>

					</div>
				</li>
			</ul>
		</div>

		<div class="column1">
			<ul class="ul1">
				<li>

					<div class="card">

						  <h1>Bharatiya Janata Party</h1>
						  <p class="title">BJP</p>

						   <p>The Bharatiya Janata Party is one of the two major political parties in India, along with the Indian National Congress. As of 2018, it is the country's largest political party in terms of representation in the national parliament and state assemblies, and it is the world's largest party in terms of primary membership.</p>

					</div>
				</li>
			</ul>
		</div>

		<div class="column1">
			<ul class="ul1">
				<li>

					<div class="card">
						
							<h1>Aam Aadmi Party</h1>
							<p class="title">AAP</p>

							<p>Aam Aadmi Party is an Indian political party, formally launched on 26 November 2012, and is currently the ruling party of the National Capital Territory of Delhi. It came into existence following differences between the activists Arvind Kejriwal and Anna Hazare regarding whether or not to politicise the popular India Against Corruption movement that had been demanding a Jan Lokpal Bill since 2011. Hazare preferred that the movement should remain politically unaligned while Kejriwal felt the failure of the agitation route necessitated a direct political involvement.</p>

					</div>
				</li>
			</ul>
		</div>

  		<div class="column1">
			<ul class="ul1">
				<li>

					<div class="card">

							<h1>Indian National Congress Party</h1>
							<p class="title">INC</p>

							<p>The Indian National Congress is a broadly based political party in India. Founded in 1885, it was the first modern nationalist movement to emerge in the British Empire in Asia and Africa. From the late 19th century, and especially after 1920, under the leadership of Mahatma Gandhi, Congress became the principal leader of the Indian independence movement, with over 15 million members and over 70 million participants. Congress led India to independence from Great Britain, and powerfully influenced other anti-colonial nationalist movements in the British Empire..</p>

					</div>
				</li>
			</ul>
		</div>

</div>
</div>
</div>
{% endblock %}
